* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .responsive-flex-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .responsive-flex-items {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .responsive-table-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media (max-width: 767px) {
  .responsive-table-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .responsive-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}

.responsive-button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.form-item-label {
  flex: 0 0 150px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
